* {
	margin: 0;
	padding: 0;
}

* {
	-webkit-tap-highlight-color: transparent;
}

body {
	position: absolute;
	width: 100%;
	overflow-x: hidden;
	


}

.main_bg {
	display: grid;
	justify-content: center;
	align-items: center;
	width: 100vw;





}

img {
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	pointer-events: none;
}

.background {
	background: rgba(250, 250, 250, 1);
	background-blend-mode: darken;
	background-size: auto;
}

.main_div{
	display: grid;
}

.navbar *{

	
}


.navbar {
	--nav_list_li_font_size: 0.5rem;
	top: 0;
	display: inline-block;
	position: sticky;
	cursor: pointer;
	z-index: 3;
	padding: calc(var(--nav_list_li_font_size)/2) 0;
	width: 100vw;
	
	

}

.nav-list {
	display: inline-block;
	vertical-align: middle;

}

.nav-list li {
	
	list-style: none;
	padding: 0 3vw;
	font-family: 'Saira Condensed', serif;
	font-weight: 300;
	background-color: none;
	font-size: var(--nav_list_li_font_size);
	float: left;
}


.navbar_links {}



.svg_menu {

	height: var(--nav_list_li_font_size);
	padding-left: calc(2*var(--nav_list_li_font_size));
	visibility: hidden;
	
}


.sidebar {


	top: 0;
	height: 0;
	width: 100vw;
	position: sticky;
	
	
	justify-content: center;
	background: rgba(250, 250, 250, 1);
	background-blend-mode: darken;
	background-size: auto;
	z-index: 2;
	
	opacity: 0;
	transition: height 0.3s ease-in-out, opacity 0.3s ease-in-out;


}

.sidebar *{
	
	visibility: visible;
}

.sidebar.open {
	visibility: visible;
	height: 100vh;
	opacity: 1;
	transition: height 0.3s ease-in-out, opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.sidebar.closed {
	visibility: hidden;
	height: 0;
	opacity: 0;
	transition: height 0.3s ease-in-out, opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.sidebar li {
	
	list-style: none;
	padding: 2rem 0rem;
	font-family: 'Saira Condensed', serif;
	font-weight: 300;
	font-size: var(--nav_list_li_font_size);

}

.sidebar_links {

	text-align: center;
	width: 100vw;
	
	

}



.sidebar_link {}

.logo {
	height: 25vh;
	width: auto;
}

.box-main {

	display: grid;
	justify-content: center;
	align-items: center;
	color: black;

	padding: 10vh 19vw;


}

.text-big {
	font-weight: 400;
	font-family: 'Ubuntu', 'Ysabeau', sans-serif;
	font-size: calc(1rem + 1vw);
	padding-bottom: 1.5rem;
	text-align: center;
}


.text-small {
	font-family: 'Saira Condensed', serif;
	font-weight: 300;
	font-size: calc(0.9rem + 0.5vw);
	text-align: justify;
	flex-wrap: wrap;
	align-items: center;
}


.section {
	background: rgb(252, 252, 252, 0.8);
	display: grid;
	align-items: center;
	justify-items: center;
	height: 100vh;
	width: 100vw;

}

.about {}

.user_case {
	align-items: center;
	grid-template-columns: 50% auto;
	grid-template-rows: auto;
	padding: 15vh 10vw;
}

.user_case_svg {
	padding-right: 3vw;
}

.imagine {
	padding: 15vh 15vw;
}




.arch_section {

	padding: 5% 0;
	height: 270vh;
	background: rgb(252, 252, 252, 0.8);

}

.arch_contents * {

	position: absolute;


}

.arch_contents {
	position: relative;
	height: 100%;



}

.dotted_L_shape_line {
	left: 25vw;
	top: 63vh;
	height: 80vh;
	width: auto;

}

.dash_curved_line {
	height: 100vh;
	width: auto;
	right: 49vw;
	top: 5rem;
}

.long_line {
	top: 14.5rem;
	left: 40vw;
	height: 13rem;
	width: auto;
	border-style: solid;
	border-width: 1px;
	border-color: rgb(0, 0, 0);

}

.short_line {
	top: 8.5rem;
	left: 40vw;
	height: 3rem;
	border-style: solid;
	border-width: 1px;
	border-color: rgb(0, 0, 0);

}



.arch_text * {
	position: revert;
}

.arch_text {
	display: grid;


}

.reasoning {
	top: 125vh;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	width: min-content;
}

.reasoning h1 {
	white-space: nowrap;
	padding: 0;
}

.reasoning p {
	text-align: center;
	word-wrap: normal;
}



.simple_line {
	top: 150vh;
	left: 40vw;
	height: 12rem;
	border-width: 1px;
	border-style: solid;
	border-color: rgb(0, 0, 0);
}

.dash_line {
	top: 150vh;
	left: 45vw;
	height: 9rem;
	border-width: 1px;
	border-style: dashed;
	border-color: rgb(0, 0, 0);
}

.actions {
	top: 210vh;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	width: min-content;

}

.actions h1 {
	font-size: 2rem;
	white-space: nowrap;
	padding: 0;

}

.actions p {
	text-align: center;
	word-wrap: normal;

}

.robot {
	top: 240vh;
	right: 20vw;
	height: 25vh;

}

.arch_percept * {
	position: revert;
}

.arch_percept {

	display: grid;
	grid-template-columns: auto auto;

}


.arch_percept_text {
	height: min-content;
}

.svg_percept {
	height: 1.8rem;
	padding-right: 0.5rem;
}

.text-small-arch {
	font-family: 'Saira Condensed', serif;
	font-weight: 300;
	font-size: 0.7rem;
}

.text-code {
	font-family: 'Source Code Pro', monospace;
	font-size: 0.4rem;

}

.gaze {
	top: 3rem;
	left: 55vw;
}

.objects {
	right: 55vw;
	top: 12rem;
}

.speech {
	right: 55vw;
	top: 6rem;
}

.gestures {
	left: 55vw;
	top: 9rem;
}


.lower {
	width: 50%;
	padding: 0;
}

.landing {
	display: grid;
	align-items: center;
	justify-items: center;
	background: linear-gradient(180deg, rgba(252, 252, 252, 1) 11%, rgba(252, 252, 252, 0) 100%);
	height: 100vh;
	width: 100vw;

}

.center {
	align-items: center;
	justify-items: center;
	width: 100%;
	height: 100%;
}

.svg {
	width: 100%;
}

/*red circle*/
.circle1 {
	display: grid;
	position: fixed;
	left: 20vw;
	top: 50vh;
	z-index: -2;

}

/*black circle*/
.circle2 {
	display: grid;
	position: fixed;
	left: 70vw;
	top: 70vh;
	z-index: -1;
	opacity: 0.9;
}

/*small blue circle*/
.circle3 {
	display: grid;
	position: fixed;
	right: 5vw;
	bottom: 45vh;
	z-index: -1;

}

/*big blue circle*/
.circle4 {
	position: fixed;
	right: 10vw;
	bottom: 40vh;
	z-index: -2;
}

.wavy_dash {
	display: grid;
	position: fixed;
	left: 5vw;
	top: 30vh;
	z-index: -2;

}

/*red dots*/
.dots1 {
	position: fixed;
	left: 70vw;
	top: 70vh;
	z-index: -1;
	width: 30%;
	height: 30%;
}

/*blue dots*/
.dots2 {
	display: grid;
	position: fixed;
	left: 60vw;
	top: 4vh;
	z-index: -3;
	width: 70%;
	height: 70%;

}


/* unvisited link */
a:link {
	color: black;
	text-decoration: none;
}

/* visited link */
a:visited {
	color: black;
}

.lower_section {
	display: grid;

	align-items: center;
	justify-content: center;

}



.collab_section {
	display: grid;
	height: fit-content;
	padding: 5rem 0 1rem;

}

.collab_section h1 {
	padding:0 0 5%;
}


.collab-buttons {
	
	display: grid;
	grid-template-columns: auto;
	--bubble_height: 50vh;
	height: min-content;
	width: 100%;

}


.buttons_row {
	

	position: relative;
	height: min-content;


}


.bubble {

	height: var(--bubble_height)
}

.button {}



.row_contents {
	position: relative;

	height: min-content;
	width: min-content;
	left: 0;
	right: 0;
	top:0;

}

.incog_row {

	margin-left: auto;
	margin-right: 50%;
}

.acin_row {

	margin-left: 50%;
	margin-right: auto;

}

.srl_row {

	margin-left: auto;
	margin-right: auto;
	margin-top: 10%;

}

.incog {

	margin-left: auto;
	margin-right: 10%;
	margin-top: 25%;

}



.acin {
	margin-right: auto;
	margin-left: 10%;
	margin-top: 25%;

}


.srl {
	margin-right: auto;
	margin-left: 13%;
	margin-top: 25%;

}



.button_contents {
	position: absolute;
	display: grid;

	justify-items: center;
	top: 0;
	left: 0;
	right: 0;


}



.svg_collab {
	padding-bottom: 1rem;
	height: 2rem;
	width: auto;
}

.text-small_collab {

	text-align: center;
	font-family: 'Saira Condensed', serif;
	font-weight: 300;
	--collab_text_size: 0.5rem;
	font-size: var(--collab_text_size);
}

.email {
	display: inline;
	height: min-content;

}

.mail_icon {
	height: var(--collab_text_size);
	padding-right: calc(var(--collab_text_size)/2);
	vertical-align: middle;
}

.a.hover {}



.error-page {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
	background-color: #f9f9f9;
	font-family: sans-serif;
	color: #444;
}

h1 {
	font-size: 2rem;
	margin-bottom: 1rem;
}




.gradient-finish {
	background: linear-gradient(0deg, rgba(252, 252, 252, 0.99) 0%, rgba(252, 252, 252, 0) 87%);
	height: 20rem;
	width: auto;

}

.transparent_p {
	opacity: 0%;
}

.footer {
	background-color: rgb(0, 0, 0);
	display: grid;
	align-items: center;
	justify-items: left;
	height: 10vh;
	width: 100vw;


}


.footer-text-big {
	text-align: left;
	color: rgb(255, 255, 255);
	flex-direction: column;
	font-size: 1.5rem;
	padding: 0.3vh;
	font-weight: 400;
	font-family: 'Ubuntu', 'Ysabeau', sans-serif;
}

.footer-text-small {
	font-size: 1rem;
	text-align: left;
	color: rgb(255, 255, 255);
	padding-bottom: 0.1vh;
	font-family: 'Saira Condensed', serif;
}

.contact {
	display: grid;
	justify-content: left;
	padding: 5vh 0vw 0vh 10vw;
}

.contact hr {
	background: rgb(255, 255, 255);
	height: 0.1vh;
	width: 20vw;

}




.addresses {
	display: grid;
	grid-template-columns: 33% 33% 33%;
	justify-content: center;
	padding: 0vh 0vw 1rem 10vw;
	width: 90vw;


}






/*===== @media queries must be at the end of CSS file ======================*/


/*==================max-height=====================*/

@media(max-height: 700px) {

	.user_case {
		grid-template-columns: 60% auto;
		padding: 10vh 10vw;
	}

	.user_case_svg img {
		height: 50vh;
	}



}

@media(max-height: 600px) {


	.sidebar li {
		padding: 1rem 0rem;


	}

	.logo {
		height: 50vh;
	}

	
}

@media(max-height: 500px) {
	.user_case {
		grid-template-columns: 70% auto;
	}

	.user_case_svg img {
		height: 60vh
	}




}

@media(max-height: 400px) {
	.user_case {
		grid-template-columns: 70% auto;
	}

	.user_case_svg img {
		height: 70vh
	}

	.text-big {
		font-size: calc(0.9rem + 1vh);
	}

	.text-small {
		font-size: calc(0.7rem + 1vh);
	}

	



}

@media(max-height: 350px) {



	.sidebar li {
		padding: 0.4rem 0rem;
		font-size: 5vh;

	}

	

}

@media(max-height: 300px) {
	.section {
		height: 110vh;
	}

	.text-big {
		font-size: calc(0.8rem + 1vh);
	}

	.text-small {
		font-size: calc(0.7em + 1vh);
	}


}

@media(max-height: 270px) {
	.sidebar li {
		padding: 0.3rem 0rem;
		font-size: 6vh;

	}




}




/*==================max-width=====================*/
@media(max-width: 1024px) {
	.about {
		padding: 15vh 13vw;
	}

	.user_case {
		grid-template-columns: 60% auto;
	}


	.logo {
		width: 50vw;
	}
}

@media(max-width: 950px) {
	.logo {
		width: 70vw;
		height: auto;
	}
}

@media(max-width: 900px) {


	.imagine {
		padding: 15vh 15vh 5vw 16vw;
	}


}

@media(max-width: 800px) {
	.logo {
		height: 20vh;
	}

	.about {
		padding: 10vh 11vw;
	}



}

@media(max-width: 700px) {
	.about {
		padding: 10vh 13vw;
	}

	.imagine {
		padding: 15vh 15vh 0vw 10vw;
	}

	.user_case {
		grid-template-columns: 60% auto;
		padding: 15vh 10vw;
	}




}

@media(max-width: 655px) {
	.logo {
		height: 18vh;
	}

	.about {
		padding: 10vh 15vw;
	}

	.imagine {
		padding: 15vh 11vw;
	}



	.user_case {

		grid-template-columns: 70% auto;
		padding: 10vh 10vw;
	}

	.user_case_svg img {
		height: 50vh;
	}

}

@media(max-width:600px) {
	.user_case {

		grid-template-columns: auto;
		padding: 10vh 10vw;
	}

	.about {
		padding: 10vh 15vw;
	}

	.imagine {
		padding: 15vh 10vw;
	}

	.text-big {
		font-size: calc(0.5rem + 1vh);
	}

	.text-small {
		font-size: calc(0.5rem + 1vh);
	}



}

@media(max-width: 550px) {

	.user_case_svg img {
		height: 50vh;
	}



}

@media(max-width: 415px) {
	.main_bg {
		grid-template-columns: 100%;
	}


	.user_case {
		padding: 10vh 14vw;
	}


}





@media(max-width: 700px), (max-height: 500px){
	
	.svg_menu{
		visibility: visible;
	}
	.navbar_links{
		visibility: hidden;
	}
	
}


/*====== aspect-ratio ================*/






