* {
	margin: 0;
	padding: 0;
}

* {
	-webkit-tap-highlight-color: transparent;
}

:root {
	--font-small: 'Saira Condensed', serif;
	--font-big: 'Ubuntu', 'Ysabeau', sans-serif;


}

body {
	position: absolute;
	width: 100%;
	overflow-x: hidden;



}

.main_bg {
	display: grid;
	justify-content: center;
	align-items: center;
	width: 100vw;





}

img {
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	pointer-events: none;
}

.background {
	background: rgba(250, 250, 250, 1);
	background-blend-mode: darken;
	background-size: auto;
}

.main_div {
	display: grid;
}

.navbar * {
	
}


.navbar {
	--nav_list_li_font_size: 0.9rem;
	top: 0;
	display: inline-block;
	position: sticky;
	
	z-index: 3;
	padding: calc(var(--nav_list_li_font_size)) 0;
	width: 100vw;
	height: min-content;


}

.nav-list {
	display: inline-block;
	vertical-align: middle;

}

.nav-list li {

	list-style: none;
	padding: 0 3vw;
	font-family: var(--font-small);
	font-weight: 300;
	background-color: none;
	font-size: var(--nav_list_li_font_size);
	float: left;
	cursor: pointer;
}


.navbar_links {}



.svg_menu {
	cursor: pointer;

	height: var(--nav_list_li_font_size);
	padding-left: calc(2*var(--nav_list_li_font_size));
	visibility: hidden;
}


.sidebar {


	top: 0;
	height: 0;
	width: 100vw;
	position: sticky;


	justify-content: center;
	background: rgba(250, 250, 250, 1);
	background-blend-mode: darken;
	background-size: auto;
	z-index: 2;

	opacity: 0;
	transition: height 0.3s ease-in-out, opacity 0.3s ease-in-out;




}



.sidebar.open {
	visibility: visible;
	height: 100vh;
	opacity: 1;
	transition: height 0.3s ease-in-out, opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.sidebar.open *{
	visibility: visible;
}

.sidebar.closed {
	visibility: hidden;
	height: 0;
	opacity: 0;
	transition: height 0.3s ease-in-out, opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.sidebar.closed *{
	visibility: hidden;
}

.sidebar li {

	list-style: none;
	padding: 2rem 0rem;
	font-family: var(--font-small);
	font-weight: 300;
	font-size: var(--nav_list_li_font_size);
	cursor: pointer;
	

}

.sidebar_links {

	text-align: center;
	width: min-content;
	visibility: hidden;
	margin-left: auto;
	margin-right: auto ;
	
}



.sidebar_link {}

.logo {
	height: 25vh;
	width: auto;
}

.box-main {

	display: grid;
	justify-content: center;
	align-items: center;
	color: black;

	padding: 10vh 19vw;


}

.text-big {
	font-weight: 400;
	font-family: var(--font-big);
	font-size: calc(1rem + 1vw);
	padding-bottom: 1.5rem;
	text-align: center;
}


.text-small {
	--text-small-size: calc(0.9rem + 0.5vw);
	font-family: var(--font-small);
	font-weight: 300;
	font-size: var(--text-small-size);
	text-align: justify;
	flex-wrap: wrap;
	align-items: center;
}


.section {
	background: rgb(252, 252, 252, 0.8);
	display: grid;
	align-items: center;
	justify-items: center;
	height: 100vh;
	width: 100vw;

}

.about {}

.user_case {
	align-items: center;
	grid-template-columns: 50% auto;
	grid-template-rows: auto;
	padding: 15vh 10vw;
}

.user_case_svg {
	padding-right: 3vw;
}

.imagine {
	padding: 15vh 15vw;
}


.arch_section * {
	
	position: absolute;


}

.arch_section {

	padding: var(--arch-vert-padding) var(--arch-horiz-padding) calc(1.5*var(--arch-vert-padding));

	background: rgb(252, 252, 252, 0.8);
	height: calc(var(--curved-line-height) + 2.3*var(--arch-text-big-var) + 4*var(--arch-text-small-var) + 6*var(--arch-element-spacing) + var(--long-line-height) + var(--robot-height));
	position: relative;


	--arch-vert-padding: 10vh;
	--arch-horiz-padding: 10vw;
	--curved-line-height: 100vh;

	--arch-text-small-var: calc(0.5*1.7vh + 0.5*1.7vw);
	--arch-text-big-var: calc(0.5*3vh + 0.5*3vw);
	--arch-text-code-var: calc(0.5*1.5vh + 0.5*1.5vw);

	--svg-percept-height: calc(2*var(--arch-text-small-var) + 1.1*var(--arch-text-code-var));
	--arch-element-spacing: calc(0.5*var(--svg-percept-height));
	--arch-percept-spacing: var(--svg-percept-height);

	--short-line-top: calc(var(--arch-vert-padding) + 2*var(--svg-percept-height) + var(--arch-percept-spacing) + var(--arch-element-spacing));
	--short-line-height: calc(2*var(--arch-percept-spacing) + var(--svg-percept-height) - 2*var(--arch-element-spacing));
	--long-line-top: calc(var(--arch-vert-padding) + 4*var(--svg-percept-height) + 3*var(--arch-percept-spacing) + var(--arch-element-spacing));
	--long-line-height: calc(var(--curved-line-height) - var(--long-line-top) + var(--arch-vert-padding) - 1vh);


	--simple-line-top: calc(var(--long-line-top) + var(--long-line-height) + 5*var(--arch-element-spacing) + var(--arch-text-big-var) + 3*var(--arch-text-small-var));

	--actions-top: calc(var(--simple-line-top) + var(--long-line-height) + 2*var(--arch-element-spacing));
	--robot-top: calc(var(--actions-top) + 5*var(--arch-element-spacing));
	--robot-height: calc(4*var(--arch-text-big-var));

}

.text-big-arch {

	font-family: var(--font-big);
	font-size: var(--arch-text-big-var);
	margin-top: auto;
	margin-bottom: auto;
	padding: var(--arch-element-spacing) 0;


}

.text-small-arch {
	font-family: var(--font-small);
	font-weight: 300;
	font-size: var(--arch-text-small-var);
	margin-top: auto;
	margin-bottom: auto;

}

.text-code {
	font-family: 'Source Code Pro', monospace;
	font-size: var(--arch-text-code-var);
	white-space: normal;

}

.non-rplc {
	visibility: visible;
}

.rplc {
	visibility: hidden;
}

.dotted_L_shape_line {
	left: 20%;
	top: var(--long-line-top);
	height: calc(var(--long-line-height) + 2*var(--arch-element-spacing) + var(--arch-text-small-var) + var(--arch-text-big-var));
	width: auto;

}

.L_shape_replacement_line {
	visibility: hidden;
	top: var(--long-line-top);
	left: 35%;
	height: calc(var(--long-line-height));
	border-width: 1px;
	border-style: dashed;
	border-color: rgb(0, 0, 0);

}

.dash_curved_line {
	top: var(--arch-vert-padding);
	height: var(--curved-line-height);
	right: 47%;
}

.replacement_dash_line {
	visibility: hidden;
	top: var(--arch-vert-padding);
	height: var(--curved-line-height);
	left: 51%;

}

.second_replacemnt_dash_line {
	visibility: hidden;
	top: var(--arch-vert-padding);
	height: calc(2*var(--svg-percept-height) + 2*var(--arch-percept-spacing) + 2*var(--arch-text-small-var) + 7*var(--arch-text-code-var) + 3*var(--arch-element-spacing));
	left: 51%;
	border-width: 1px;
	border-style: dashed;
	border-color: rgb(0, 0, 0);

}





.long_line {

	top: var(--long-line-top);
	left: 42%;
	height: var(--long-line-height);
	width: auto;
	border-style: solid;
	border-width: 1px;
	border-color: rgb(0, 0, 0);

}

.short_line {
	top: var(--short-line-top);
	left: 42%;
	height: var(--short-line-height);
	border-style: solid;
	border-width: 1px;
	border-color: rgb(0, 0, 0);

}



.arch_text * {

	position: revert;
}

.arch_text {
	
	display: grid;
	row-gap: 0;
	height:1;
	margin-top: auto;
	margin-bottom: auto;

}

.reasoning {
	top: calc(var(--arch-vert-padding) + var(--curved-line-height) + var(--arch-element-spacing));
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	width: min-content;

}

.reasoning h1 {

	white-space: nowrap;

}

.reasoning p {
	text-align: center;
	word-wrap: normal;
}



.simple_line {

	top: var(--simple-line-top);
	left: 42%;
	height: var(--long-line-height);
	border-width: 1px;
	border-style: solid;
	border-color: rgb(0, 0, 0);
}

.dash_line {
	top: var(--simple-line-top);
	left: 47.5%;
	height: calc(0.85*var(--long-line-height));
	border-width: 1px;
	border-style: dashed;
	border-color: rgb(0, 0, 0);
}

.actions {

	top: var(--actions-top);
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	width: min-content;


}

.actions h1 {
	text-align: center;
	white-space: nowrap;
	font-size: calc(1.3*var(--arch-text-big-var));


}

.actions p {
	text-align: center;
	white-space: nowrap;

}

.robot {
	top: var(--robot-top);
	right: 30%;
	height: var(--robot-height);

}

.arch_percept * {
	position: revert;
}

.arch_percept {

	display: grid;
	grid-template-columns: auto auto;



}


.arch_percept_text {
	height: min-content;
}

.svg_percept {
	height: var(--svg-percept-height);
	padding-right: calc(0.5*var(--arch-text-small-var));
}




.gaze {
	top: calc(var(--arch-vert-padding));
	left: 55%;
}

.speech {
	top: calc(var(--arch-vert-padding) + 1*(var(--svg-percept-height) + var(--arch-percept-spacing)));
	right: 55%;




}

.gestures {
	top: calc(var(--arch-vert-padding) + 2*(var(--svg-percept-height) + var(--arch-percept-spacing)));
	left: 55%;

}

.objects {
	top: calc(var(--arch-vert-padding) + 3*(var(--svg-percept-height) + var(--arch-percept-spacing)));
	right: 55%;


}




.lower {
	width: 50%;
	padding: 0;
}

.landing {
	display: grid;
	align-items: center;
	justify-items: center;
	background: linear-gradient(180deg, rgba(252, 252, 252, 1) 11%, rgba(252, 252, 252, 0) 100%);
	height: 100vh;
	width: 100vw;

}

.center {
	align-items: center;
	justify-items: center;
	width: 100%;
	height: 100%;
}

.svg {
	width: 100%;
}

/*red circle*/
.circle1 {
	display: grid;
	position: fixed;
	left: 20vw;
	top: 50vh;
	z-index: -2;

}

/*black circle*/
.circle2 {
	display: grid;
	position: fixed;
	left: 70vw;
	top: 70vh;
	z-index: -1;
	opacity: 0.9;
}

/*small blue circle*/
.circle3 {
	display: grid;
	position: fixed;
	right: 5vw;
	bottom: 45vh;
	z-index: -1;

}

/*big blue circle*/
.circle4 {
	position: fixed;
	right: 10vw;
	bottom: 40vh;
	z-index: -2;
}

.wavy_dash {
	display: grid;
	position: fixed;
	left: 5vw;
	top: 30vh;
	z-index: -2;

}

/*red dots*/
.dots1 {
	position: fixed;
	left: 70vw;
	top: 70vh;
	z-index: -1;
	width: 30%;
	height: 30%;
}

/*blue dots*/
.dots2 {
	display: grid;
	position: fixed;
	left: 60vw;
	top: 4vh;
	z-index: -3;
	width: 70%;
	height: 70%;

}


/* unvisited link */
a:link {
	color: black;
	text-decoration: none;
}

/* visited link */
a:visited {
	color: black;
}

.lower_section {
	display: grid;

	align-items: center;
	justify-content: center;

}




.collab_section {
	display: grid;
	height: fit-content;
	padding: calc(0.5*20vh + 0.5*20vw) 0 3rem;

}

.collab_section h1 {
	padding: 0 0 calc(0.5*15vh + 0.5*15vw);
}


.collab-buttons {

	display: grid;
	grid-template-columns: auto;
	--bubble_height: calc(0.5*40vh + 0.5*40vw);

	height: min-content;
	width: 100%;

}


.buttons_row {


	position: relative;
	height: min-content;


}


.bubble {

	height: var(--bubble_height);
	width: auto
}

.button {}



.row_contents {
	position: relative;

	height: min-content;
	width: min-content;
	left: 0;
	right: 0;
	top: 0;

}

.incog_row {

	margin-left: auto;
	margin-right: 50%;
}

.acin_row {

	margin-left: 50%;
	margin-right: auto;

}

.srl_row {

	margin-left: auto;
	margin-right: auto;
	margin-top: 10%;

}

.incog {

	margin-left: auto;
	margin-right: 10%;
	margin-top: 25%;

}



.acin {
	margin-right: auto;
	margin-left: 10%;
	margin-top: 25%;

}


.srl {
	margin-right: auto;
	margin-left: 13%;
	margin-top: 25%;

}



.button_contents {
	position: absolute;
	display: grid;

	justify-items: center;
	top: 0;
	left: 0;
	right: 0;


}

.text-small_collab {

	text-align: center;
	font-family: var(--font-small);
	font-weight: 300;
	--collab_text_size: calc(var(--bubble_height)/20);
	font-size: var(--collab_text_size);
}

.svg_collab {
	padding-bottom: calc(var(--bubble_height)/30);
	height: calc(var(--bubble_height)/7);
	width: auto;
}



.email {
	display: inline;
	height: min-content;

}

.mail_icon {
	height: var(--collab_text_size);
	padding-right: calc(var(--collab_text_size)/2);
	vertical-align: middle;
}

.a.hover {}



.error-page {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
	background-color: #f9f9f9;
	font-family: sans-serif;
	color: #444;
}






.gradient-finish {
	background: linear-gradient(0deg, rgba(252, 252, 252, 0.99) 0%, rgba(252, 252, 252, 0) 87%);
	height: 20rem;
	width: auto;

}

.transparent_p {
	opacity: 0%;
}

.footer {
	background-color: rgb(0, 0, 0);
	display: grid;
	align-items: center;
	justify-items: left;
	height: calc(0.5*10vh + 0.5*10vw);
	width: 100vw;


}


.footer-text-big {
	text-align: left;
	color: rgb(255, 255, 255);
	flex-direction: column;
	font-size: 1.5rem;
	padding: 0.3vh;
	font-weight: 400;
	font-family: 'Ubuntu', 'Ysabeau', sans-serif;
}

.footer-text-small {
	font-size: 1rem;
	text-align: left;
	color: rgb(255, 255, 255);
	padding-bottom: 0.1vh;
	font-family: 'Saira Condensed', serif;
}

.contact {
	display: grid;
	justify-content: left;
	padding: 5vh 0vw 0vh 10vw;
}

.contact hr {
	background: rgb(255, 255, 255);
	height: 0.1vh;
	width: 20vw;

}




.addresses {
	display: grid;
	grid-template-columns: 33% 33% 33%;
	justify-content: center;
	padding: 0vh 0vw 1rem 10vw;
	width: 90vw;


}






/*===== @media queries must be at the end of CSS file ======================*/


/*==================max-height=====================*/

@media(max-height: 700px) {

	.user_case {
		grid-template-columns: 60% auto;
		padding: 10vh 10vw;
	}

	.user_case_svg img {
		height: 50vh;
	}



}

@media(max-height: 600px) {


	.sidebar li {
		padding: 1rem 0rem;


	}

	.logo {
		height: 50vh;
	}


}

@media(max-height: 500px) {
	.user_case {
		grid-template-columns: 70% auto;
	}

	.user_case_svg img {
		height: 60vh
	}




}

@media(max-height: 400px) {
	.user_case {
		grid-template-columns: 70% auto;
	}

	.user_case_svg img {
		height: 70vh
	}

	.text-big {
		font-size: calc(0.9rem + 1vh);
	}

	.text-small {
		font-size: calc(0.7rem + 1vh);
	}





}


@media(max-height: 300px) {


	.text-big {
		font-size: calc(0.8rem + 1vh);
	}

	.text-small {
		font-size: calc(0.7em + 1vh);
	}


}





/*==================max-width=====================*/




@media(max-width: 1024px) {
	.about {
		padding: 15vh 13vw;
	}

	.user_case {
		grid-template-columns: 60% auto;
	}


	.logo {
		width: 50vw;
	}
}

@media(max-width: 950px) {
	.logo {
		width: 70vw;
		height: auto;
	}
}

@media(max-width: 900px) {


	.imagine {
		padding: 15vh 15vh 5vw 16vw;
	}


}

@media(max-width: 800px) {
	.logo {
		height: 20vh;
	}

	.about {
		padding: 10vh 11vw;
	}




}

@media(max-width: 700px) {
	.about {
		padding: 10vh 13vw;
	}

	.imagine {
		padding: 15vh 15vh 0vw 10vw;
	}

	.user_case {
		grid-template-columns: 60% auto;
		padding: 15vh 10vw;
	}





}

@media(max-width: 655px) {
	.logo {
		height: 18vh;
	}

	.about {
		padding: 10vh 15vw;
	}

	.imagine {
		padding: 15vh 11vw;
	}



	.user_case {

		grid-template-columns: 70% auto;
		padding: 10vh 10vw;
	}

	.user_case_svg img {
		height: 50vh;
	}

}

@media(max-width:600px) {
	.user_case {

		grid-template-columns: auto;
		padding: 10vh 10vw;
	}

	.about {
		padding: 10vh 15vw;
	}

	.imagine {
		padding: 15vh 10vw;
	}

	.text-big {
		font-size: calc(0.5rem + 1vh);
	}

	.text-small {
		font-size: calc(0.5rem + 1vh);
	}





}

@media(max-width: 550px) {

	.user_case_svg img {
		height: 50vh;
	}

	.long_line {
		border-width: 0.5px;
	}

	.short_line {
		border-width: 0.5px;
	}

	.simple_line {
		border-width: 0.5px;
	}




}



@media(max-width: 415px) {
	.main_bg {
		grid-template-columns: 100%;
	}


	.user_case {
		padding: 10vh 14vw;
	}


}







@media(max-width: 700px),
(max-height: 500px) {

	.svg_menu {
		visibility: visible;
	}

	.navbar_links {
		visibility: hidden;
	}

}


/*====== aspect-ratio ================*/




@media(max-aspect-ratio: 17/20) {
	.incog_row {

		margin-left: 10%;
		margin-right: auto;
	}

	.acin_row {

		margin-left: auto;
		margin-right: 10%;

	}

	.srl_row {

		margin-left: auto;
		margin-right: auto;
		margin-top: 0;

	}

	.collab-buttons {
		row-gap: 10rem;
	}

}

@media(max-aspect-ratio:1/2) {

	.incog_row {

		margin-left: auto;
		margin-right: auto;
	}

	.acin_row {

		margin-left: auto;
		margin-right: auto;

	}

	.srl_row {

		margin-left: auto;
		margin-right: auto;
		margin-top: 0;

	}


}


@media(max-aspect-ratio: 15/10) {
	.robot {
		right: 20%;
	}
}


@media(max-aspect-ratio: 9/10) {
	.dotted_L_shape_line {
		left: 10%;
	}

	.speech {
		right: 50%
	}

	.objects {
		right: 50%;
	}
}


@media(max-aspect-ratio: 8/10) {
	.dash_curved_line {
		visibility: hidden;
	}

	.replacement_dash_line {
		visibility: visible;
	}

}

@media(max-aspect-ratio: 7/10) {

	.objects {
		left: var(--arch-horiz-padding);
	}

	.objects p {
		white-space: normal;
		word-wrap: initial;
	}

	.gaze {
		right: var(--arch-horiz-padding);
	}



	.arch_section {
		--long-line-top: calc(var(--arch-vert-padding) + 4*var(--svg-percept-height) + 5*var(--arch-percept-spacing) + var(--arch-text-small-var) + var(--arch-element-spacing));
	}

	.robot {
		right: 10%;
	}
}

@media(max-aspect-ratio: 6/10) {
	.dotted_L_shape_line {
		visibility: hidden;
	}

	.L_shape_replacement_line {
		visibility: visible;
	}

}

@media(max-aspect-ratio: 46/100) {
	.arch_section {
		--long-line-top: calc(var(--arch-vert-padding) + 4*var(--svg-percept-height) + 3*var(--arch-percept-spacing) + 2*var(--arch-text-small-var) + var(--arch-element-spacing));
		--curved-line-height: 70vh;
	}


	.gestures {
		right: var(--arch-horiz-padding);
	}

	.robot {
		--robot-top: calc(var(--actions-top) + var(--arch-text-big-var) + var(--arch-text-small-var) + 5*var(--arch-element-spacing));  
	}

}


@media(max-aspect-ratio: 36/100) {
	.arch_percept {
		width: min-content;
	}

	.arch_section {
		--short-line-top: calc(var(--arch-vert-padding) + 2*var(--svg-percept-height) + var(--arch-percept-spacing) + var(--arch-element-spacing) + var(--arch-text-code-var));
		--short-line-height: calc(2*var(--arch-percept-spacing) + var(--svg-percept-height) - 2*var(--arch-element-spacing) - var(--arch-text-code-var));
	}

}

@media(max-aspect-ratio:33/100) {

	.arch_percept {
		grid-template-columns: auto;
	}

	.speech {
		right: 60%;
	}

	.objects {
		right: 60%;
	}

	.gaze {
		left: 60%;
	}

	.gestures {
		left: 60%;
	}

	.arch_section {
		--arch-percept-spacing: calc(3*var(--svg-percept-height));
		--short-line-top: calc(var(--arch-vert-padding) + 3*var(--svg-percept-height) + var(--arch-percept-spacing) + var(--arch-element-spacing) + var(--arch-text-code-var));
		--short-line-height: calc(2*var(--arch-percept-spacing) + var(--svg-percept-height) - 2*var(--arch-element-spacing) - var(--svg-percept-height) - var(--arch-text-code-var));
		--long-line-top: calc(var(--arch-vert-padding) + 4*var(--svg-percept-height) + 3*var(--arch-percept-spacing) + 2*var(--arch-element-spacing) + var(--svg-percept-height) + var(--arch-text-code-var));
		--simple-line-top: calc(var(--long-line-top) + var(--long-line-height) + 9*var(--arch-element-spacing) + 2*var(--arch-text-big-var) + 4*var(--arch-text-small-var));

		padding: var(--arch-vert-padding) var(--arch-horiz-padding) calc(2.5*var(--arch-vert-padding));

	}

	.short_line {
		left: 30%;

	}

	.long_line {
		left: 30%;
	}

	.text-big-arch {
		padding: var(--arch-element-spacing) 0;
	}

	.reasoning h1 {

		white-space: normal;
		text-align: left;


	}

	.reasoning p {


		text-align: left;

	}





}

@media(max-aspect-ratio:1/4) {
	.actions h1 {

		font-size: var(--arch-text-big-var);




	}

	.actions p {
		white-space: normal
	}

}

@media(max-aspect-ratio:1/5) {
	.replacement_dash_line {
		visibility: hidden
	}

	.second_replacemnt_dash_line {
		visibility: visible;
	}

	.dash_line {
		left: 51%;

	}

	.gaze {
		left: 52%;
	}

	.gestures {
		left: 52%;
	}

	.speech {
		right: 50%
	}


}

@media(max-aspect-ratio:6/20) {



	.collab-buttons {
		--bubble_height: 70vw;
	}




}




@media (min-height: 2000px) and (max-aspect-ratio: 17/20) {

	.logo {
		width: 50vw;
	}

}



@media(min-aspect-ratio: 10/7) {

	.dotted_L_shape_line {
		left: 27%;

	}
}

@media(min-aspect-ratio: 2/1) {

	.arch_section {
		--curved-line-height: 150vh;
	}
}

@media(min-aspect-ratio: 10/4) {

	.arch_section {
		--curved-line-height: 200vh;
	}
}

@media(min-aspect-ratio: 10/3) {
	.sidebar li {
		padding: 0.5rem 0rem;
	}



}

@media(min-aspect-ratio: 9/6) {
	.arch_section {
		--arch-vert-padding: 20vh;
	}
}

@media(min-aspect-ratio: 17/6) {
	.arch_section {
		--arch-vert-padding: 30vh;
	}
}