* {
	margin: 0;
	padding: 0;
}

* {
	-webkit-tap-highlight-color: transparent;
}

body {
	position: absolute;
	width: 100%;
	overflow-x: hidden;


}

.main_bg {
	display: grid;
	justify-content: center;
	align-items: center;
	width: 100vw;





}

.background {
	background: rgba(250, 250, 250, 1);
	background-blend-mode: darken;
	background-size: auto;
}

.upper-section {
	display: grid;
	align-items: center;
	justify-content: space-between;

}

.navbar {
	display: grid;
	position: sticky;
	cursor: pointer;
	top: 0;
	height: 3.5rem;
	width: 100vw;
	z-index: 3;
	justify-items: start;


}

.nav-list {
	display: grid;
	grid-template-columns: auto auto auto auto auto auto;
	align-items: center;
	padding-top: 1rem;



}

.nav-list li {
	list-style: none;
	padding: 0 3vw;
	font-family: 'Saira Condensed', serif;
	font-weight: 500;
}

.nav-list li {
	background-color: none;
}

.navbar_links {}

.svg_menu {
	visibility: hidden;
	height: 0vh;
	width: 0vw;
}

.li_menu {
	visibility: hidden;
}

.sidebar {
	visibility: hidden;
	top: 0;
	height: 0;
	width: 100vw;
	position: sticky;
	display: grid;
	align-items: top;
	justify-content: center;
	background: rgba(250, 250, 250, 1);
	background-blend-mode: darken;
	background-size: auto;
	z-index: 2;
	padding-top: 8vh;
	opacity: 0;
	transition: height 0.3s ease-in-out, opacity 0.3s ease-in-out;


}



.sidebar.open {
	visibility: visible;
	height: 100vh;
	opacity: 1;
	transition: height 0.3s ease-in-out, opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.sidebar.closed {
	visibility: hidden;
	height: 0;
	opacity: 0;
	transition: height 0.3s ease-in-out, opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  }

.sidebar li {
	list-style: none;
	padding: 2rem 0rem;
	font-family: 'Saira Condensed', serif;
	font-size: 1rem;

}

.sidebar_links {
	text-align: center;
	
}



.sidebar_link {}

.logo {
	height: 25vh;
	width: auto;
}

.box-main {

	display: grid;
	justify-content: center;
	align-items: center;
	color: black;

	padding: 10vh 19vw;


}

.text-big {
	font-weight: 400;
	font-family: 'Ubuntu', 'Ysabeau', sans-serif;
	font-size: calc(1rem + 1vw);
	padding-bottom: 1.5rem;
	text-align: center;
}


.text-small {
	font-family: 'Saira Condensed', serif;
	font-weight: 300;
	font-size: calc(0.9rem + 0.5vw);
	text-align: justify;
	flex-wrap: wrap;
	align-items: center;
}


.section {
	background: rgb(252, 252, 252, 0.8);
	display: grid;
	align-items: center;
	justify-items: center;
	height: 100vh;
	width: 100vw;

}

.about {}

.user_case {
	align-items: center;
	grid-template-columns: 50% auto;
	grid-template-rows: auto;
	padding: 15vh 10vw;
}

.user_case_svg {
	padding-right: 3vw;
}

.imagine {
	padding: 15vh 15vw;
}

.arch_section{
	height: 300vh;
	align-items: center;
	
}
.architecture {
	z-index: 1;


}
.architecture_h0{

}
.architecture_h1 {
	text-align: right;
}
.architecture_svg {
	height:150vh;
	z-index: 0;

}
.architecture_diagram{
	display: grid;
	position: absolute;
}

.lower {
	width: 50%;
	padding: 0;
}

.landing {
	display: grid;
	align-items: center;
	justify-items: center;
	background: linear-gradient(180deg, rgba(252, 252, 252, 1) 11%, rgba(252, 252, 252, 0) 100%);
	height: 92vh;
	width: 100vw;



}

.center {
	align-items: center;
	justify-items: center;
	width: 100%;
	height: 100%;
}

.svg {
	width: 100%;
}

/*red circle*/
.circle1 {
	display: grid;
	position: fixed;
	left: 20vw;
	top: 50vh;
	z-index: -2;

}

/*black circle*/
.circle2 {
	display: grid;
	position: fixed;
	left: 70vw;
	top: 70vh;
	z-index: -1;
	opacity: 0.9;
}

/*small blue circle*/
.circle3 {
	display: grid;
	position: fixed;
	right: 5vw;
	bottom: 45vh;
	z-index: -1;

}

/*big blue circle*/
.circle4 {
	position: fixed;
	right: 10vw;
	bottom: 40vh;
	z-index: -2;
}

.wavy_dash {
	display: grid;
	position: fixed;
	left: 5vw;
	top: 30vh;
	z-index: -2;

}

/*red dots*/
.dots1 {
	position: fixed;
	left: 70vw;
	top: 70vh;
	z-index: -1;
	width: 30%;
	height: 30%;
}

/*blue dots*/
.dots2 {
	display: grid;
	position: fixed;
	left: 60vw;
	top: 4vh;
	z-index: -3;
	width: 70%;
	height: 70%;

}


/* unvisited link */
a:link {
	color: black;
	text-decoration: none;
}

/* visited link */
a:visited {
	color: black;
}

.lower_section {
	display: grid;

	align-items: center;
	justify-content: center;

}

.collaborators {

	padding: 15vh 0vw;
}

.collab_section{
	height: 220vh;
}


.collab-buttons {
	display: grid;

	width: 90vw;
	padding-top: 10vh;
	

}

.buttons_row{
	display: grid;
	grid-template-columns: 30% ;
}
.button1 {
	background-image: url(Pictures/bubble1.svg);
	background-repeat: no-repeat;
	background-size:100%;
	height: 45vh;
	width: 23vw;
	display: grid;
	align-items: center;
	justify-items: center;
	padding-right: 3vw;


}

.error-page {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
	background-color: #f9f9f9;
	font-family: sans-serif;
	color: #444;
}

h1 {
	font-size: 2rem;
	margin-bottom: 1rem;
}




.gradient-finish {
	background: linear-gradient(0deg, rgba(252, 252, 252, 0.99) 0%, rgba(252, 252, 252, 0) 87%);
	height: 20rem;
	width: auto;

}

.transparent_p {
	opacity: 0%;
}

.footer {
	background-color: rgb(0, 0, 0);
	display: grid;
	align-items: center;
	justify-items: left;
	height: 10vh;
	width: 100vw;


}


.footer-text-big {
	text-align: left;
	color: rgb(255, 255, 255);
	flex-direction: column;
	font-size: 1.5rem;
	padding: 0.3vh;
	font-weight: 400;
	font-family: 'Ubuntu', 'Ysabeau', sans-serif;
}

.footer-text-small {
	font-size: 1rem;
	text-align: left;
	color: rgb(255, 255, 255);
	padding-bottom: 0.1vh;
	font-family: 'Saira Condensed', serif;
}

.contact {
	display: grid;
	justify-content: left;
	padding: 5vh 0vw 0vh 10vw;
}

.contact hr {
	background: rgb(255, 255, 255);
	height: 0.1vh;
	width: 20vw;

}


.contact_svg {
	height: 1rem;
	padding-top: 1vh;
	padding-bottom: 1vh;
	padding-right: 1vw;
	vertical-align: middle;
}

.addresses {
	display: grid;
	grid-template-columns: 33% 33% 33%;
	justify-content: center;
	padding: 0vh 0vw 1rem 10vw;
	width: 90vw;


}






/*===== @media queries must be at the end of CSS file ======================*/


/*==================max-height=====================*/

@media(max-height: 700px) {

	.user_case {
		grid-template-columns: 60% auto;
		padding: 10vh 10vw;
	}

	.user_case_svg img {
		height: 50vh;
	}



}

@media(max-height: 600px) {

	.collab-buttons {
		padding-top: 0;
	}

	.footer {
		height: 50vh;

	}


	.sidebar li {
		padding: 1rem 0rem;


	}

	.logo {
		height: 50vh;
	}

	.navbar {
		height: 2.9rem;
	}
}

@media(max-height: 500px) {
	.user_case {
		grid-template-columns: 70% auto;
	}

	.user_case_svg img {
		height: 60vh
	}



	.footer {
		height: 100vh;
	}

}

@media(max-height: 400px) {
	.user_case {
		grid-template-columns: 70% auto;
	}

	.user_case_svg img {
		height: 70vh
	}

	.text-big {
		font-size: calc(0.9rem + 1vh);
	}

	.text-small {
		font-size: calc(0.7rem + 1vh);
	}

	.architecture {
		padding: 10vh 10vw;
	}

	.architecture_svg {
		height: 60vh;
	}

	.footer-text-big {
		font-size: 1.1rem
	}

	.footer-text-small {
		font-size: 0.8rem;
	}

	.svg_menu {

		height: 6vh;
		width: 6vw;
	}




}

@media(max-height: 350px) {



	.sidebar li {
		padding: 0.4rem 0rem;
		font-size: 5vh;

	}

	.svg_menu {

		height: 7vh;
		width: 7vw;
	}



	.svg_collab {
		height: 2.5rem;
	}

}

@media(max-height: 300px) {
	.section {
		height: 110vh;
	}

	.text-big {
		font-size: calc(0.8rem + 1vh);
	}

	.text-small {
		font-size: calc(0.7em + 1vh);
	}


}

@media(max-height: 270px) {
	.sidebar li {
		padding: 0.3rem 0rem;
		font-size: 6vh;

	}

	.svg_menu {
		height: 10vh;
	}

	.architecture_svg {

		height: 80vh;

	}

}

@media(max-height:700px) and (max-width:700px) {
	.footer {
		height: 100vh;
	}



}

/*==================max-width=====================*/
@media(max-width: 1024px) {
	.about {
		padding: 15vh 13vw;
	}

	.user_case {
		grid-template-columns: 60% auto;
	}

	.collab-buttons {
		padding: 10vh 0vw;
		width: 80vw;
	}

	.svg_collab {
		height: 4rem;
	}

	.logo {
		width: 50vw;
	}
}

@media(max-width: 950px) {
	.logo {
		width: 70vw;
		height: auto;
	}
}

@media(max-width: 900px) {
	.architecture {
		grid-template-columns: auto;
	}

	.architecture_h1 {
		text-align: center;
	}

	.architecture_svg {
		padding: 0;
	}

	.imagine {
		padding: 15vh 15vh 5vw 16vw;
	}

	.svg_collab {
		height: 4rem;
	}

}

@media(max-width: 800px) {
	.logo {
		height: 20vh;
	}

	.about {
		padding: 10vh 11vw;
	}

	.svg_collab {
		height: 3.5rem;
	}

	.collab-buttons {
		row-gap: 15vh;

	}



	.footer-text-big {
		font-size: 1.3rem;

	}


}

@media(max-width: 700px) {
	.about {
		padding: 10vh 13vw;
	}

	.imagine {
		padding: 15vh 15vh 0vw 10vw;
	}

	.user_case {
		grid-template-columns: 60% auto;
		padding: 15vh 10vw;
	}

	.collab-buttons {
		row-gap: 15vh;
	}

	.svg_collab {
		height: 3rem;
	}


	.addresses {
		grid-template-columns: 100%;
		padding-bottom: 3rem;

	}

	.address {
		padding-top: 2rem;
	}

	.footer {
		height: 75vh
	}


}

@media(max-width: 655px) {
	.logo {
		height: 18vh;
	}

	.about {
		padding: 10vh 15vw;
	}

	.imagine {
		padding: 15vh 11vw;
	}

	.collab-buttons {
		grid-template-columns: 50% 50%;

	}

	.buttons_row {
		grid-template-columns: 100%;
		row-gap: 5vh;
	}

	.user_case {

		grid-template-columns: 70% auto;
		padding: 10vh 10vw;
	}

	.user_case_svg img {
		height: 50vh;
	}

}

@media(max-width:600px) {
	.user_case {

		grid-template-columns: auto;
		padding: 10vh 10vw;
	}

	.about {
		padding: 10vh 15vw;
	}

	.imagine {
		padding: 15vh 10vw;
	}

	.text-big {
		font-size: calc(0.5rem + 1vh);
	}

	.text-small {
		font-size: calc(0.5rem + 1vh);
	}

	.footer-text-big {
		font-size: 1rem
	}

	.footer-text-small {
		font-size: 0.8rem;
	}


}

@media(max-width: 550px) {

	.user_case_svg img {
		height: 50vh;
	}

	.svg_collab {
		padding: 4vh 10vw;
	}

}

@media(max-width: 415px) {
	.main_bg {
		grid-template-columns: 100%;
	}


	.user_case {
		padding: 10vh 14vw;
	}

	.addresses {

		grid-template-columns: 100%;
		row-gap: 3vh;
	}

	.footer {
		height: 102vh;
	}

	.svg_collab {

		height: 2rem;
	}




}

@media(max-width: 370px) {
	.collab-buttons {
		padding-top: 6vh;
	}

}




@media(max-width: 700px),
(max-height: 500px) {

	.navbar_links {
		visibility: hidden;
		width: 0;
	}

	.nav-list {
		padding-left: 0.5rem;
	}

	.svg_menu {
		visibility: visible;
		height: 6vh;
		width: 6vw;
	}

}


/*====== aspect-ratio ================*/

@media(max-aspect-ratio: 36/74) and (max-width: 700px) {
	.footer {
		height: 100vh;
	}

}

@media(min-aspect-ratio: 65/45) and (max-width: 700px) {
	.footer {
		height: 150vh;
	}

}


@media (max-aspect-ratio: 5/7) {
	.navbar {
		height: 4rem;
	}

	.nav-list {
		padding-top: 0.3rem;
	}
}



@media (min-aspect-ratio: 7/4) {
	.svg_menu {
		height: 1rem;
	}
}

@media (max-aspect-ratio: 82/118) {
	.navbar {
		height: 4rem;
	}

	.nav-list {
		padding-top: 0.5rem;
	}
}